.contenedor-form-registro {
    background: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /* Puedes añadir aquí el centrado del texto dentro de la caja */
    text-align: center; 
    color: white;
}
img {
    max-width: 10.625rem; /* 250px */
    height: auto;
    margin-bottom: 0.56rem; /* 25px */
}
label {
    text-align: left !important; /* Fuerza la alineación a la izquierda */
    width: 100%; /* Asegura que la etiqueta ocupe todo el ancho para que 'text-align: left' funcione */
}

button {

  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #05a4d8 !important;
  border: none !important;
  color: black !important;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}
button:hover {
  background: #0280a5 !important;
}

.separator {
  color: white;
  margin: 10px 0; /* margin de 3px a 10px */
  font-weight: bold;
}